@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, .page-footer, .collection-text, .subfooter-text, .login {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BACKGROUND CSS */
.background {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ebeced;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* MAIN CSS */
.main-text {
  width: 250px;
}

@media (min-width: 768px) {
  .main-text {
    width: 50%;
  }
}

h3 {
  color: #fff;
  letter-spacing: 5px;
}

.h3-fluid {
  font-size: calc(0.4rem + 1.6vw);
}

.shop-now-btn {
  background-color: rgba(84, 106, 56, 0.8);
  border: none;
  font-size: calc(0.4rem + 1vw);
  letter-spacing: 3px;
  padding-left: calc(0.4rem + 2.5vw);
  padding-right: calc(0.4rem + 2.5vw);
  padding-top: calc(0.2rem + 0.5vw);
  padding-bottom: calc(0.2rem + 0.5vw);
  color: #fff;
}

.shop-now-btn:hover, .shop-now-btn:active {
  background-color: rgba(84, 106, 56, 1);
  box-shadow: 0 0 5px rgba(84, 106, 56, 1); /* Add the desired box shadow effect */
}

/* CAROUSEL CSS */
.carousel .carousel-indicators li {
  width: 5px !important;
  height: 5px !important;
}

@media (min-width: 768px) {
  .carousel .carousel-indicators li {
    width: 13px !important;
    height: 13px !important;
  }
}

/* APPNAVBAR CSS */
.navbar {
  background-color: rgba(235, 236, 237, 0.9);
  overflow: hidden  ;
}

.logo {
  width: 100px;
}

@media (min-width: 768px) {
  .logo {
    width: 150px;
  }
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled.navbar-collapse {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav .nav-item .MuiSvgIcon-root {
  font-size: 1.5rem !important;
  color: #2c1810 !important;
}

.navbar-nav .nav-item .MuiSvgIcon-root:hover {
  color: #853826 !important;
}

.nav-link {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  color: #2c1810 !important;
}

.nav-link:hover {
  text-decoration: bold;
  font-weight: bold !important;
  color: #853826 !important;
}

.dropdown-collapse .navbar-nav .nav-link {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  color: #2c1810 !important;
}

.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
}

#appNavbar.navbar {
  position: sticky !important;
  top: 0 !important;
  z-index: 100;
}

/*FOOTER CSS*/
.page-footer {
  background-color: rgba(235, 236, 237, 0.5) !important;
  color: #ffff;
  overflow: hidden;
}

.footer-logo {
  width: 200px;
}

@media (min-width: 768px) {
  .footer-logo {
    width: 300px;
  }
}

.icons {
  color: #ffff;
  font-size: calc(0.6rem + 0.5rem);
}

.icons:hover {
  color: #853826 !important;
}

.footer-h5 {
  font-size: calc(1rem + 0.4rem);
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-list {
  font-size: calc(0.5rem + 0.5rem);
}

.hover-link {
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffff;
}

.hover-link:hover {
  color: #853826;
  font-weight: bold;
  text-decoration: bold;
}


.footer-list, .footer-copyright {
  letter-spacing: 2px;
}

/*COLLECTION CSS*/
.container-col {
  background-color: rgba(235, 236, 237, 0.9);
  overflow: hidden;
}

.card-body {
  color: #2c1810;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
}

.col-btn {
  display: flex;
  background-color: #546a38;
  border: none;
  font-size: calc(0.4rem + 1vw);
  letter-spacing: 10px;
  padding-top: calc(0.2rem + 0.5vw);
  padding-bottom: calc(0.2rem + 0.5vw);
  color: #fff;
  display: flex;
  justify-content: center;
}

.bestseller {
  width: 100%;
}


/*SUBFOOTER*/
.subfooter {
  background-color: rgba(235, 236, 237, 0.9);
  font-size: calc(1rem + 0.4rem);
  font-weight: 500;
  color: #2c1810;
  letter-spacing: 2px;
  overflow: hidden;
}

.subfooter-h1 {
  font-size: calc(1.2rem + 0.7rem);
  color: #853826;
  font-weight: 700;
  letter-spacing: 2px;
}

.subfooter-h5 {
  font-size: calc(0.7rem + 0.5rem);
  font-weight: 700;
  letter-spacing: 2px;
}

.subfooter-text {
  font-size: calc(0.6rem + 0.3rem);
}

/*LOGIN CSS*/
.login {
  background-color: rgba(235, 236, 237, 0.5);
}

.login-p {
  color: #2c1810 !important;
  letter-spacing: 1px;
}

.background-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button-group .btn {
  color: #546a38;
  font-size: calc(1rem + 0.5rem);
  margin: 0.5rem;
  background-color: transparent !important;
  border: none;
}

.custom-link {
  color: #ffff !important;
  letter-spacing: 2px;
  font-size: calc(1rem + 0.1rem);
}

.custom-link:hover {
  color: #546a38 !important;
}

.custom-active-link {
  background-color: #546a38 !important;
  color: #ffff !important;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: calc(1rem + 0.3rem);
}

.custom-login-checkbox {
  font-size: calc(1rem + 0.3rem) !important;
}

.custom-checkbox {
  transform: scale(1.5);
  margin-right: 0.5rem;
  margin-top: 9px;
}

.custom-forgot {
  font-weight: 500;
}

.custom-btn {
  color: #546a38;
  font-size: calc(1rem + 0.5rem);
  margin: 0.5rem;
  background-color: #546a38 !important;
  border: none !important;
}

.password-mismatch {
  border: 1px solid red !important;
}

.password-mismatch-text {
  color: red;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}


/*ADMIN CSS*/
.adminTable {
  background-color: rgba(235, 236, 237, 0.7);
}

/*Add horizontal scroll*/
.tableContainer {
  overflow-x: auto; 
}


/* ABOUT CSS */
.aboutBackground {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ebeced;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

h4, h2 {
  color: #2c1810 !important;
  letter-spacing: 1px;
}

.about-us h4 {
  font-size: calc(1rem + 0.5vw);
}

@media (min-width: 768px) {
  .about-us h4 {
    font-size: calc(1rem + 0.5vw);
  }
}

/*CONTACT CSS*/
.map-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 75%; /* Adjust this value to change the map's aspect ratio */
    height: 0;
}

.map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*PRODUCT CSS*/
header {
  padding: 1rem 0;
}

.main-content {
  margin-top: 2rem;
}

.product {
  background-color: rgba(235, 236, 237, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem 0;
  margin: 1rem 0;
}

.product-detail {
  padding: 0 2rem;
}

.product-price {
  font-weight: bold;
  font-size: 140%;
}

.order-btn {
  background-color: rgba(84, 106, 56, 0.8);
  border: none;
  font-size: calc(0.4rem + 0.6vw);
  letter-spacing: 3px;
  padding-left: calc(0.4rem + 0.8vw);
  padding-right: calc(0.4rem + 0.8vw);
  padding-top: calc(0.2rem + 0.4vw);
  padding-bottom: calc(0.2rem + 0.4vw);
  color: #fff;
}

.order-btn:hover, .order-btn:active {
  background-color: rgba(84, 106, 56, 1);
  box-shadow: 0 0 5px rgba(84, 106, 56, 1); /* Add the desired box shadow effect */
}